<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
<!--commented code does the same thing as this render @users, infers to render all users AND it finds the _users partial -->
    <%= render @users %>
  <!-- <% @users.each do |user| %>

    <%= render user %>
  <% end %> -->
</ul>
<!-- rails automatically looks for _user partial -->

<%= will_paginate %>